@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Unbounded:wght@200;600;700&family=Zen+Dots&display=swap');

body {
  background: linear-gradient(180deg, #3D8BFD 0%, #E7F1FF 100%);
  margin: 0;
  min-height: 100vh;
}